.cvs-pdp {
  /*
	Components
*/
  /* SKU Refinements */
  /*
    All styles for Swatches are defined in skuGroupStyle since they are the same as thumbnails.

    Any changes that need to override should go in here.
*/
  /*
    All styles for Swatches are defined in skuGroupStyle since they are the same as thumbnails.

    Any changes that need to override should go in here.
*/
  /*
	Product Details Stationary Menu
*/
  /*
	Product Details Sticky Menu
*/
  /*
 Cart Styles
*/
  /*shipto*/
  /*
    breadcrumb
*/
  /*bread-crumb*/
  /*
    Gallery
*/
  /*sub-header*/
  /*product images*/
  /*sku groupings*/
  /*product detail block*/
  /* Button CSS*/
  /*product tab*/
}
.cvs-pdp .sku-group {
  /*
    Corresponds to thumbnails and swatches.

    Individual styles in their less stylesheets may override these.
  */
}
.cvs-pdp .sku-group .gallery {
  margin: 25px 0 0 0;
}
.cvs-pdp .sku-group .gallery a {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 1px solid #6b6b6b;
  margin: 0 7px 7px 0;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
}
.cvs-pdp .sku-group .gallery a.active,
.cvs-pdp .sku-group .gallery a:hover {
  border-radius: 0px;
  border: 2px solid #141414;
  overflow: hidden;
}
.cvs-pdp .sku-group .gallery a.notavailable {
  border-radius: 0px;
  border: 1px dashed #000;
  overflow: hidden;
}
.cvs-pdp .sku-group .label {
  font-size: 14px;
  font-weight: 700;
  color: #141414;
  margin: 0;
  padding: 15px 0 0 0;
  font-weight: bold;
}
.cvs-pdp .sku-group .label .value {
  font-weight: normal;
}
.cvs-pdp .sku-refinement-dropdown {
  width: 140px;
  height: 44px;
  border: 1px solid #818181;
  margin-top: 8px;
}
.cvs-pdp .gallery a.thumbnail {
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.cvs-pdp .gallery a.thumbnail.active img,
.cvs-pdp .gallery a.thumbnail:hover img,
.cvs-pdp .gallery a.thumbnail.notavailable img {
  position: absolute;
  top: -1px;
  left: -1px;
}
.cvs-pdp .gallery a.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
}
.cvs-pdp .productDetailsTabWrapper {
  margin: auto;
  max-width: 100%;
}
.cvs-pdp nav li,
.cvs-pdp nav ul {
  list-style: none;
  margin-top: 0px;
  margin-right: 32px;
  margin-left: -6px;
  margin-bottom: 0px;
  padding: 0;
  text-align: center;
  display: inline-block;
}
.cvs-pdp .productDetailsTab {
  display: inline-block;
  margin: 0 10px 0 0;
}
.cvs-pdp nav a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  border: 5px;
  /* border-color:azure;*/
  margin: 10px;
}
.cvs-pdp a:hover {
  color: red;
  border: 5px;
  /* border-color: blanchedalmond;*/
}
.cvs-pdp .brand-shop {
  float: right;
  margin: -5px 0 0 0;
  color: red;
}
.cvs-pdp .nutriFacts {
  width: 50%;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-color: white;
}
.cvs-pdp table,
.cvs-pdp td {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}
.cvs-pdp th {
  width: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.cvs-pdp .StatinaryTabStyle {
  font-weight: 300;
  font-size: 32px;
  font-color: #141414;
}
.cvs-pdp .tabContentStyle {
  font-size: 14px !important;
  font-color: #545454 !important;
}
.cvs-pdp .ingredientSubContentStyle {
  font-size: 18px;
  font-color: #141414;
}
.cvs-pdp #tabFacts {
  font-size: 12px;
  font-color: #404040;
  background-color: #f9f9f9;
}
.cvs-pdp .ingrediantsTabSubContent {
  background-color: #efefef;
}
.cvs-pdp .ingredientsSubBodyStyle {
  font-color: #404040;
  font-size: 12px;
  border-color: #efefef;
}
.cvs-pdp .product-tab-anchor-holder,
.cvs-pdp .product-tab-anchor-holder a {
  color: black;
  text-decoration: none;
}
.cvs-pdp .product-tab-anchor-holder :hover,
.cvs-pdp .product-tab-anchor-holder a :hover,
.cvs-pdp .product-tab-anchor-holder :focus,
.cvs-pdp .product-tab-anchor-holder a :focus {
  color: black;
  text-decoration: none;
}
.cvs-pdp .product-main-tab {
  margin-top: 20px;
}
.cvs-pdp .product-tabs-container {
  margin: 30px auto;
}
.cvs-pdp .product-tabs {
  /*    max-width: 940px;*/
  border-top: 1px solid #cccccc;
  /*    padding: 10px 0 0 0;
    margin: 50px auto;*/
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  text-align: justify;
}
.cvs-pdp .product-tabs:after {
  display: inline-block;
  content: "";
  width: 100%;
}
.cvs-pdp .product-tabs > p {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.cvs-pdp .product-tabs > p:hover {
  color: #cc0000;
}
.cvs-pdp .product-tabs-overlay-container {
  background: #fff;
  opacity: .95;
  min-width: 728px;
  max-width: 960px;
  width: 95%;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 3px 3px -2px #e9e5e5;
  display: none;
  position: relative;
  z-index: 99999;
}
.cvs-pdp .product-tabs-overlay-container.scrolled-content {
  display: block;
  position: fixed;
  top: 0px;
}
.cvs-pdp .product-tabs-overlay h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin: 10px 0 5px 60px;
  width: 400px;
}
.cvs-pdp .product-tabs-overlay span.image {
  position: absolute;
  top: 5px;
  left: 0;
}
.cvs-pdp .product-tabs-overlay .price {
  position: absolute;
  top: 15px;
  left: 69%;
  font-size: 31px;
  color: #505050;
}
.cvs-pdp .product-tabs-overlay .top-button {
  font-weight: 400;
  font-size: 13px;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  background: #f4f4f4;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  padding: 8px 15px;
  cursor: pointer;
}
.cvs-pdp .product-tabs-overlay .top-button img {
  width: 20px;
  vertical-align: baseline;
  margin-bottom: -2px;
}
.cvs-pdp .product-tabs-overlay .price sup {
  font-size: 16px;
  position: relative;
  top: -7px;
  left: 5px;
  text-decoration: line-through;
  vertical-align: 4px;
}
.cvs-pdp .product-tabs-overlay .product-tabs {
  padding: 0 0 0 10px;
  max-width: 960px;
  margin: 0px;
}
.cvs-pdp .product-tabs-overlay .product-tabs:after {
  display: block;
}
.cvs-pdp .product-tabs-overlay .product-tabs p {
  padding: 5px 5px;
  margin: 0 16px 0 0;
}
.cvs-pdp .product-tabs-overlay .product-tabs span {
  padding: 5px 10px;
  margin: 0 25px 0 0;
}
.cvs-pdp .product-tabs-overlay .reviews {
  float: none;
  display: inline;
  position: relative;
  top: 2px;
  cursor: pointer;
}
.cvs-pdp .product-tabs-overlay .reviews img {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 1em;
  outline: none;
  border-color: #000000;
  border: none;
  background: transparent;
}
.cvs-pdp .product-tabs-overlay .reviews p {
  font-weight: 700;
  font-size: 12px;
  color: #141414;
  display: inline;
  padding: 0 0 0 10px;
  position: relative;
  top: -2px;
}
.cvs-pdp .product-tabs-overlay .reviews p i {
  font-style: normal;
  color: #878787;
}
.cvs-pdp .quantity-button {
  clear: both;
}
.cvs-pdp .quantity {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 50px;
}
.cvs-pdp input.quantity {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px !important;
  height: 45px !important;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 16px;
  color: #141414;
  box-sizing: border-box;
}
.cvs-pdp input.quantity-plus {
  position: absolute;
  top: 0;
  left: 39px;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  background: #f1f1f1;
  border: 1px solid #d8d8d8;
  border-top-right-radius: 3px;
  color: #999999;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cvs-pdp input.quantity-minus {
  position: absolute;
  top: 22px;
  left: 39px;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  background: #f1f1f1;
  border: 1px solid #d8d8d8;
  border-bottom-right-radius: 3px;
  color: #999999;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cvs-pdp .quantity-button p {
  font-size: 14px;
  margin: 0 0 5px 0;
}
.cvs-pdp .quantity-button button {
  float: right;
  border-radius: 3px;
  width: 65%;
}
.cvs-pdp .quantity-button .quantity-head {
  color: #585858;
}
.cvs-pdp .shipto-container {
  /*        width: 100%;
    margin: 20px 0 0 0;*/
  background: #fafafa;
  position: relative;
  border: 1px solid #f4f4f4;
  margin-top: -10px;
}
.cvs-pdp .shipto-container:after,
.cvs-pdp .shipto-container:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.cvs-pdp .shipto-container:after {
  border-color: rgba(250, 250, 250, 0);
  border-bottom-color: #fafafa;
  border-width: 10px;
  margin-left: -10px;
}
.cvs-pdp .shipto-container:before {
  border-color: rgba(244, 244, 244, 0);
  border-bottom-color: #f4f4f4;
  border-width: 11px;
  margin-left: -11px;
}
.cvs-pdp .shipto-container a:hover {
  color: #cc0000;
  text-decoration: none;
}
.cvs-pdp .shipto-container h3 {
  background: #f0f0f0;
  margin: 5px;
  padding: 8px;
  font-weight: 500;
  color: #141414;
  font-size: 1.33em;
}
.cvs-pdp .shipto-container h3 span {
  color: #141414;
  font-weight: 600;
  margin: 1px 0 0 0;
  padding: 0;
  font-size: 12px;
  float: right;
  cursor: pointer;
}
.cvs-pdp .shipto-container h3 img {
  margin: 0 -1px -2px 0;
}
.cvs-pdp .shipto-container .shipnsave {
  padding: 4px 13px;
  color: #141414;
}
.cvs-pdp .shipto-container .shipnsave label {
  line-height: 22px;
}
.cvs-pdp .shipto-container label strong {
  color: #cc0000;
}
.cvs-pdp .shipto-container .shipnsave label strong {
  display: block;
  font-style: normal;
  color: #878787;
  font-size: 12px;
}
.cvs-pdp .shipto-container .shipnsave span.learnmore {
  display: block;
  font-weight: 600;
  color: #141414;
  font-size: 12px;
  /*margin-top:-18px;*/
  margin-left: 32px;
  cursor: pointer;
}
.cvs-pdp .shipto-container span.learnmore:hover {
  color: #cc0000;
}
.cvs-pdp .shipto {
  padding: 0 20px 20px 12px;
}
.cvs-pdp .shipto hr {
  height: 1px;
  margin: 20px 0 0 0;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}
.cvs-pdp .shipto p {
  margin: 10px 0 0 28px;
}
.cvs-pdp .shipto p a,
.cvs-pdp .shipto p span {
  font-weight: 700;
  font-size: 12px;
  color: #141414;
  cursor: pointer;
}
.cvs-pdp .shipto div.pick-up-cvs {
  display: none;
  margin: 10px 0 0 28px;
}
.cvs-pdp .shipto div.pick-up-cvs.active {
  display: block;
}
.cvs-pdp .shipto div p {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}
.cvs-pdp .shipto div.address {
  text-transform: uppercase;
}
.cvs-pdp .shippingfrequency {
  display: none;
}
.cvs-pdp .shippingfrequency p {
  margin: 10px 0 0 0;
  font-size: 13px;
  font-weight: 400;
  color: #141414;
}
.cvs-pdp .shippingfrequency .select {
  margin-left: 16px;
  width: 200px;
}
.cvs-pdp .shippingfrequency .styledSelect {
  font-size: 14px;
  background-position: 170px 13px;
}
.cvs-pdp .shippingfrequency .styledSelect:hover {
  background-position: 169px 12px;
}
.cvs-pdp .shippingfrequency .styledSelect.selected.active {
  background-position: 169px 12px;
}
.cvs-pdp .ship-to-address.active {
  position: relative;
  background: #f0f0f0;
  border-top: 1px solid #d5d5d5;
  padding: 10px 0 0 0;
}
.cvs-pdp .ship-to-address.active:after,
.cvs-pdp .ship-to-address.active:before {
  bottom: 100%;
  left: 48%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.cvs-pdp .ship-to-address.active:after {
  border-color: rgba(240, 240, 240, 0);
  border-bottom-color: #f0f0f0;
  border-width: 10px;
  margin-left: -10px;
}
.cvs-pdp .ship-to-address.active:before {
  border-color: rgba(213, 213, 213, 0);
  border-bottom-color: #d5d5d5;
  border-width: 11px;
  margin-left: -11px;
}
.cvs-pdp .shipto-container .top-rated {
  float: right;
  font-size: 12px;
  line-height: 12px;
  color: #cc0000;
  background: #fadb06;
  border: 1px solid #e1c505;
  border-radius: 3px;
  border-top: none;
  text-align: center;
  padding: 5px 20px;
  position: relative;
  top: -3px;
}
.cvs-pdp .shipto-container .no-option {
  font-size: 14px;
  font-weight: 600;
  color: #141414;
}
.cvs-pdp .shipto-container .out-of-stock {
  font-size: 14px;
  font-weight: 400;
  color: #838383;
}
.cvs-pdp .bread-crumb a {
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0;
}
.cvs-pdp .bread-crumb a {
  color: #323232;
  text-decoration: none;
}
.cvs-pdp .bread-crumb a:after {
  content: '|';
  margin: 0 0 0 3px;
}
.cvs-pdp .bread-crumb a.last:after {
  content: '';
}
.cvs-pdp .media-gallery {
  /*
  .gallery {
    max-width: 63%;
    margin: 20px 0 20px 0;
    position: relative;
    overflow-x: hidden;
  }
  .gallery .top-rated-container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -20px;
    margin-left: 35px;
  }
  .gallery .top-rated {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #cc0000;
    background: #fadb06;
    border: 1px solid #e1c505;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: none;
    text-align: center;
    padding: 5px 20px;
  }
  .thumbnails {
    float: left;
  }
  .thumbnails span {
    cursor: pointer;
    width: 66px;
    height: 66px;
    border: 3px solid #fff;
    display: block;
    margin: 0 0 8px 0;
    z-index: 9999;
   }

  .thumb-nails span.hide {
    display: none;
  }
  .thumbnails span img {
    /*width: 60px;
    height: 60px;*/
  /*  }

  .thumbnails span:hover,
  .thumbnails span.active {
    border: 3px solid #909090;
  }

  .product-image {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .product-image span img {
    width: 224px;
    height: 224px;
    position: relative;
    top: 63px;
  }
  .product-image span {
    display: none;
  }
  .product-image span.active {
    display: block;
  }

  .large-image {
    margin: 0 auto;
    width: 40%;
  }

  .large-image img {
    position: relative;
    top: 70px;
  }
  */
}
.cvs-pdp .media-gallery .gallery {
  max-width: 63%;
  margin: 20px 0 20px 0;
  position: relative;
  overflow-x: hidden;
}
.cvs-pdp .media-gallery .gallery .top-rated-container {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -20px;
  margin-left: 35px;
}
.cvs-pdp .media-gallery .gallery .top-rated {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #cc0000;
  background: #fadb06;
  border: 1px solid #e1c505;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: none;
  text-align: center;
  padding: 5px 20px;
}
.cvs-pdp .media-gallery .thumb-nails {
  float: left;
}
.cvs-pdp .media-gallery .thumb-nails span {
  cursor: pointer;
  width: 66px;
  height: 66px;
  border: 3px solid #fff;
  display: block;
  margin: 0 0 8px 0;
  z-index: 9999;
}
.cvs-pdp .media-gallery .thumb-nails span.hide {
  display: none;
}
.cvs-pdp .media-gallery .thumb-nails span img {
  /*width: 60px;
    height: 60px;*/
}
.cvs-pdp .media-gallery .thumb-nails span:hover,
.cvs-pdp .media-gallery .thumb-nails span.active {
  border: 3px solid #909090;
}
.cvs-pdp .media-gallery .product-image {
  width: 100%;
  height: auto;
  text-align: center;
}
.cvs-pdp .media-gallery .product-image span img {
  width: 224px;
  height: 224px;
  position: relative;
  top: 63px;
}
.cvs-pdp .media-gallery .product-image span {
  display: none;
}
.cvs-pdp .media-gallery .product-image span.active {
  display: block;
}
.cvs-pdp .media-gallery .large-image {
  margin: 0 auto;
  width: 40%;
}
.cvs-pdp .media-gallery .large-image img {
  position: relative;
  top: 70px;
}
.cvs-pdp html,
.cvs-pdp body,
.cvs-pdp div,
.cvs-pdp span,
.cvs-pdp applet,
.cvs-pdp object,
.cvs-pdp iframe,
.cvs-pdp h1,
.cvs-pdp h2,
.cvs-pdp h3,
.cvs-pdp h4,
.cvs-pdp h5,
.cvs-pdp h6,
.cvs-pdp p,
.cvs-pdp blockquote,
.cvs-pdp pre,
.cvs-pdp a,
.cvs-pdp abbr,
.cvs-pdp acronym,
.cvs-pdp address,
.cvs-pdp big,
.cvs-pdp cite,
.cvs-pdp code,
.cvs-pdp del,
.cvs-pdp dfn,
.cvs-pdp em,
.cvs-pdp font,
.cvs-pdp img,
.cvs-pdp ins,
.cvs-pdp kbd,
.cvs-pdp q,
.cvs-pdp s,
.cvs-pdp samp,
.cvs-pdp small,
.cvs-pdp strike,
.cvs-pdp strong,
.cvs-pdp sub,
.cvs-pdp sup,
.cvs-pdp tt,
.cvs-pdp var,
.cvs-pdp b,
.cvs-pdp u,
.cvs-pdp i,
.cvs-pdp center,
.cvs-pdp dl,
.cvs-pdp dt,
.cvs-pdp dd,
.cvs-pdp ol,
.cvs-pdp ul,
.cvs-pdp li,
.cvs-pdp fieldset,
.cvs-pdp form,
.cvs-pdp label,
.cvs-pdp legend,
.cvs-pdp table,
.cvs-pdp caption,
.cvs-pdp tbody,
.cvs-pdp tfoot,
.cvs-pdp thead,
.cvs-pdp tr,
.cvs-pdp th,
.cvs-pdp td,
.cvs-pdp button {
  vertical-align: baseline;
}
.cvs-pdp .pdp-wrapper {
  max-width: 1000px;
  /*max-width: 940px;*/
  margin: 0px auto;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px 30px;
}
.cvs-pdp .header-container {
  padding-bottom: 5px;
}
.cvs-pdp h1 {
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #141414;
  margin: 25px 0;
}
.cvs-pdp .clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0;
  line-height: 0;
}
.cvs-pdp input:focus {
  outline: 0;
}
.cvs-pdp .product-details {
  position: relative;
}
.cvs-pdp .sub-header {
  padding: 0 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #545454;
  padding: 0 0 5px 0;
  cursor: pointer;
}
.cvs-pdp .sub-header span {
  padding: 0 20px 0 0;
  white-space: nowrap;
}
.cvs-pdp .sub-header span:nth-child(4) {
  padding: 0;
}
.cvs-pdp .sub-header span img.fsa {
  position: relative;
  top: 2px;
  left: -4px;
}
.cvs-pdp .sub-header .reviews {
  float: right;
  width: 300px;
  margin: -2px 0 0 0;
}
.cvs-pdp .sub-header .reviews p {
  font-weight: 600;
  font-size: 12px;
  color: #141414;
  display: inline;
  padding: 0 0 0 10px;
}
.cvs-pdp .sub-header .reviews p i {
  font-style: normal;
  color: #878787;
}
.cvs-pdp .product-side-header {
  background-color: #f0f0f0;
  padding: 10px 15px;
  font-size: 18px;
  color: #141414;
  border: 1px solid #e8e8e8;
  margin-top: 0px;
}
.cvs-pdp .product-side-description {
  border: 1px solid #e8e8e8;
  border-left: 0px;
}
.cvs-pdp .banner-content {
  float: left;
}
.cvs-pdp .product-side-description h3 {
  margin-top: 0px;
}
.cvs-pdp .product-side-description div {
  padding: 0px;
}
.cvs-pdp .product-side-description .description-content {
  padding-left: 15px;
}
.cvs-pdp .product-side-description .description-content a {
  color: #323232;
  text-decoration: none;
}
.cvs-pdp .product-side-description .description-content a:hover {
  color: #cc0000;
  text-decoration: none;
}
.cvs-pdp button {
  padding: 0 5%;
  background: #cc0000;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  height: 44px;
  box-sizing: border-box;
  border-radius: 3px;
}
.cvs-pdp button:hover {
  background: #e13220;
}
.cvs-pdp button:active {
  background: #a60000;
}
.cvs-pdp button.alternate {
  border: 1px solid #ccc;
  background: #e5e5e5;
  color: #1e1e1e;
}
.cvs-pdp button.alternate:hover {
  background: #e9e9e9;
}
.cvs-pdp button.alternate:active {
  background: #d7d7d7;
}
.cvs-pdp input[type=text] {
  color: #646464;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #D0CBCB;
  border-radius: 3px;
  font-weight: 400;
  width: 75%;
  height: 44px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 10px;
  text-align: left;
}
.cvs-pdp input[type="checkbox"] {
  display: none;
}
.cvs-pdp input[type="checkbox"] + label {
  font-size: 14px;
  line-height: 18px;
  color: #545454;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  top: -24px;
  left: 32px;
  display: block;
  padding-right: 32px;
}
.cvs-pdp input[type="checkbox"] + label i {
  font-style: italic;
}
.cvs-pdp input[type="checkbox"] + label span {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #818181;
  margin: 0 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  top: 24px;
  left: -32px;
  background: #fff;
  box-sizing: border-box;
}
.cvs-pdp input[type="checkbox"]:checked + label span {
  border: 1px solid #35baaa;
  background: url('../img/check-on.png') no-repeat #35baaa;
  background-size: 14px 14px;
  background-position: 4px 4px;
}
.cvs-pdp input[type="radio"] {
  display: none;
}
.cvs-pdp input[type="radio"] + label {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  color: #141414;
  left: 28px;
}
.cvs-pdp input[type="radio"] + label > span {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #818181;
  border-radius: 12px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  top: 20px;
  left: -32px;
  background: #fff;
  box-sizing: border-box;
}
.cvs-pdp input[type="radio"]:checked + label {
  font-weight: 700;
}
.cvs-pdp input[type="radio"]:checked + label > span {
  width: 24px;
  height: 24px;
  border: 1px solid #818181;
  background: #fff;
}
.cvs-pdp input[type="radio"]:checked + label span span {
  width: 14px;
  height: 14px;
  border: none;
  background: #36baaa;
  display: block;
  border-radius: 7px;
  margin: 4px;
}
.cvs-pdp input[type="radio"] + label i {
  font-style: normal;
  color: #cc0000;
}
.cvs-pdp .product-tabs-container .product-tabs {
  margin-top: 20px;
  padding-top: 15px;
}
@media (min-width: 641px) {
  .cvs-pdp .header-container {
    border-bottom: 1px solid #cccccc;
  }
  .cvs-pdp .product-tabs-container {
    clear: both;
  }
  .cvs-pdp .product-tabs-container .ship-content-tab {
    float: right;
  }
  .cvs-pdp .product-tabs-container .product-tabs {
    margin-top: 0px;
  }
}
@media (max-width: 900px) {
  .cvs-pdp .product-image span img {
    left: -20px;
  }
  .cvs-pdp .gallery {
    width: 50%;
    width: calc(-220%);
    margin: 20px 0 10px 0;
  }
  .cvs-pdp .product-image {
    max-width: 100%;
  }
  .cvs-pdp .product-image span {
    position: relative;
    margin: 0;
    left: 0;
    padding: 0 0 20px 0;
    text-align: center;
    display: block !important;
  }
  .cvs-pdp .product-image span img {
    top: 0;
  }
  .cvs-pdp .large-image {
    width: 50%;
  }
  .cvs-pdp .large-image img {
    top: 0px;
  }
}
@media (max-width: 640px) {
  .cvs-pdp .product-tabs-overlay-container {
    width: 100%;
    min-width: 320px;
    border-bottom: none;
    margin-left: -55px;
  }
}
@media (max-width: 640px) {
  .cvs-pdp .gallery {
    max-width: 100% !important;
    width: 100% !important;
  }
  .cvs-pdp .header-container {
    border-bottom: none;
  }
  .cvs-pdp .sub-header .reviews {
    float: none;
    margin: 15px 0 0 0;
  }
  .cvs-pdp .sidebar {
    position: relative;
    border-top: 1px solid #b4b4b4;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .cvs-pdp .bread-crumb a {
    display: none;
  }
  .cvs-pdp .bread-crumb a.nex-to-last,
  .cvs-pdp .bread-crumb a.last {
    display: inline;
  }
}
