.productDetailsTabWrapper{
    margin: auto;
    max-width: 100%;

}
nav li, nav ul {
    list-style: none;
    margin-top: 0px;
    margin-right: 32px;
    margin-left: -6px;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.productDetailsTab{
    display: inline-block;
    margin: 0 10px 0 0;
}
nav a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    border: 5px;
   /* border-color:azure;*/
    margin: 10px;
}

a:hover{
    color: red;
    border: 5px;
   /* border-color: blanchedalmond;*/
}

.brand-shop{
    float:right;
    margin: -5px 0 0 0;
    color: red;
}
.nutriFacts{
  width:50%;
margin: 0;
padding: 0;

  border:  1px solid black;
  background-color: white;
}
table,td {
    width:50%;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
  width:auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.StatinaryTabStyle{
font-weight:300;
font-size:32px;
font-color:#141414;
}

.tabContentStyle{
font-size:14px !important;
font-color:#545454 !important;
}

.ingredientSubContentStyle{
font-size:18px;
font-color:#141414;
}

#tabFacts{
font-size:12px;
font-color:#404040;
background-color:#f9f9f9
}

.ingrediantsTabSubContent{
background-color:#efefef;

}

.ingredientsSubBodyStyle{
font-color:#404040;
font-size:12px;
border-color:#efefef;
}

.product-tab-anchor-holder ,.product-tab-anchor-holder a{

	color:black;
	text-decoration:none;
}


.product-tab-anchor-holder :hover,.product-tab-anchor-holder a :hover,.product-tab-anchor-holder :focus,.product-tab-anchor-holder a :focus{

	color:black;
	text-decoration:none;
}


.product-main-tab {
    margin-top: 20px;
}

.product-tabs-container {
    margin: 30px auto;
}

.product-tabs {
    /*    max-width: 940px;*/
    border-top: 1px solid #cccccc;
    /*    padding: 10px 0 0 0;
    margin: 50px auto;*/
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    text-align: justify;
}

.product-tabs:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.product-tabs > p {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.product-tabs > p:hover {
    color: #cc0000;
}

