<span class='label'>{{product.skuRefinements.skuGroups[parentIndex].label}}: {{title}}</span><br/>
<div class='gallery'>
  <a class='swatch'
  href="#"
  ng-repeat='item in product.skuRefinements.skuGroups[parentIndex].contents'
  ng-click='updateProduct(item.skuId)'
  style='background-color:#{{item.hex}}'
  ng-class='{notavailable: product.skuRefinements.validSkus.indexOf(item.skuId) === -1,
            active: product.details.skuId == item.skuId}'
  ng-mouseover='setActiveSku(item.skuId, item.label)'
  ng-mouseleave='setActiveSku(product.details.skuId)'
  >&nbsp;</a>
</div>
<br class='clear'/>
