.product - tabs - container {
        /* max-width: 940px;*/
    }
    .product - tabs {
        /*    max-width: 940px;*/
        border - top: 1 px solid# cccccc;
        padding: 10 px 0 0 0;
        margin: 50 px auto;
        font - weight: 400;
        font - size: 18 px;
        line - height: 24 px;
        color: #323232;
    text-align: justify;
}
.product-tabs:after {
  display: inline-block;
  content: "";
  width: 100%;
}
.product-tabs > p {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.product-tabs > p:hover {
  color: # cc0000;
    }

.product - tabs - overlay - container {
    background: #fff;
    opacity: .95;
    min - width: 728 px;
    max - width: 960 px;
    width: 95 % ;
    border - bottom: 1 px solid# cccccc;
    box - shadow: 0 3 px 3 px - 2 px# e9e5e5;
    display: none;
    position: relative;
    z - index: 99999;
}

.product - tabs - overlay - container.scrolled - content {
    display: block;
    position: fixed;
    top: 0 px;
}

.product - tabs - overlay h1 {
    font - weight: 300;
    font - size: 24 px;
    line - height: 28 px;
    margin: 10 px 0 5 px 60 px;
    width: 400 px;
}

.product - tabs - overlay span.image {
    position: absolute;
    top: 5 px;
    left: 0;
}

.product - tabs - overlay.price {
    position: absolute;
    top: 30 px;
    left: 65 % ;
    font - size: 31 px;
    color: #505050;
}

.product-tabs-overlay .top-button {
    font-weight: 400;
    font-size: 13px;
    color: # 333333;
    text - decoration: none;
    text - transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    background: #f4f4f4;
    border - left: 1 px solid# d7d7d7;
    border - right: 1 px solid# d7d7d7;
    border - bottom: 1 px solid# d7d7d7;
    border - bottom - left - radius: 3 px;
    border - bottom - right - radius: 3 px;
    text - align: center;
    padding: 10 px 15 px;
    cursor: pointer;
}

.product - tabs - overlay.top - button img {
    width: 20 px;
    vertical - align: baseline;
}

.product - tabs - overlay.price sup {
    font - size: 16 px;
    position: relative;
    top: -7 px;
    left: 5 px;
    text - decoration: line - through;
    vertical - align: 4 px;
}

.product - tabs - overlay.product - tabs {
    padding: 0 0 0 10 px;
    max - width: 960 px;
    margin: 0 px;
}

.product - tabs - overlay.product - tabs: after {
    display: block;
}

.product - tabs - overlay.product - tabs span {
    padding: 5 px 10 px;
    margin: 0 25 px 0 0;
}

.product - tabs - overlay.reviews {
    float: none;
    display: inline;
    position: relative;
    top: 2 px;
    cursor: pointer;
}

.product - tabs - overlay.reviews img {
    margin: 0;
    padding: 0;
    vertical - align: baseline;
    font - size: 1e m;
    outline: none;
    border - color: #000000;
    border: none;
    background: transparent;
}

.product-tabs-overlay .reviews p {
    font-weight: 700;
    font-size: 12px;
    color: # 141414;
    display: inline;
    padding: 0 0 0 10 px;
    position: relative;
    top: -2 px;
}

.product - tabs - overlay.reviews p i {
        font - style: normal;
        color: #878787;
}
